

ul,li {
  list-style: none;
}
.container {
display: flex;
margin: 100px 50px 50px 50px;
}
.content {
  width: 153px;
  border: 1px solid black;
  margin: 0 auto;
}
.main-container {
position: relative;
width: 250px;
height: 320px;
background: green;
}
.thecard {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  background:  yellow;
}
.thecard:hover {
  transform: rotateY(180deg);
}
.thefront {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #fcf728;
  color: #333;
}
.theback {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: green;
  transform: rotateY(180deg);
}
.item{
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  display: inline-block;
  font-size: 25px;
  border: 1px solid black;
  cursor: pointer;
  vertical-align: middle;
}
.box {
  width: 200px;
  height: 200px;
  background-color: aquamarine;
  text-align: center;
  }
.title-color {
  color: red;
}
.element {
  color: blue;
}
.math-container {
  display: flex;
  flex-direction: row;
 column-gap: 30px;
}
.cars-list {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
}
.user-form {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 30px;
  margin-left: 40px;
  margin-bottom: 30px;
}
.label {
  display:flex;
  flex-direction: column;
  row-gap: 10px;
}
.user-form-btn {
  display: inline-block;
  padding: 0 20px;
  align-self: self-start;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 3px;
  background-color: bisque;
}
.user-form-btn:hover,
.user-form-btn:focus {
  background-color:aquamarine;
}
.nature-photos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px
}
.photo {
  width: 500px;
}
.color-box {
  display: flex;
  flex-direction: row ;
  gap: 30px;
  padding: 30px;
}
.item-green {
  width: 80px;
  height: 80px;
  background-color: green;
  cursor: pointer;
}
.item-red{
  width: 80px;
  height: 80px;
  background-color: red;
  cursor: pointer;
}
.item-blue {
  width: 80px;
  height: 80px;
  background-color: blue;
  cursor: pointer;
}
.modal{
  background-color: aliceblue;
  border: 2px solid black;
  padding: 20px;
}
.card-model {
  background-color: aliceblue;
  border: 2px solid black;
  padding: 20px;
}